.imgBlock {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 76px;
}

.imgItem {
    width: 307px;
    height: 307px;
}

.imgItem img {
    width: 100%;
    height: 100%;
}

.noPosts {
    margin-top: 50px;
}